.App {
  width: 100vw;
  height: 100vh;
  background: rgb(63, 222, 251);
  background: radial-gradient(
    circle,
    rgb(0, 217, 255) 0%,
    rgb(255, 255, 0) 100%
  );
  display: grid;
  grid-template-columns: auto auto auto;
}
.box {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid white;
  border-left: 60px solid white;
  border-bottom: 60px solid white;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;

  box-shadow: -4px -2px 5px -4px rgba(143, 138, 138, 0.75);
}
